# Default .easignore
node_modules/**/*
.expo/*
.git/*
**/.DS_Store
**/ios/Pods/*
**/android/.gradle/*
**/android/app/build/*
**/android/build/*
*.log
*.mp4
*.mov
*.avi
*.mkv
*.zip
*.tar
*.gz
*.pdf
*.psd
*.ai
*.xd
*.sketch
*.mp3
*.wav
*.aac
*.ogg
*.flac
*.ttf
*.otf
*.woff
*.woff2
*.eot
*.svg
*.png
*.jpg
*.jpeg
*.gif
*.webp
*.bmp
*.ico
*.icns
*.heic
*.heif
*.raw
*.cr2
*.nef
*.orf
*.sr2
*.arw
*.3fr
*.cine
*.dng
*.rw2
*.raf
*.mrw
*.pef
*.x3f
*.srw
*.kdc
*.mos
*.mef
*.erf
*.dcr
*.pcd
*.ptx
*.cap
*.iiq
*.rwz
*.crw
*.srf
*.mdc
*.dng
*.jpg_large
*.jpeg_large
*.png_large
*.gif_large
*.bmp_large
*.tiff
*.tif
*.psb
*.webm
*.m4v
*.3gp
*.flv
*.swf
*.f4v
*.ogv
*.m4a
*.aif
*.aiff
*.m4b
*.m4p
*.m4r
*.mid
*.midi
*.3g2
*.asf
*.wma
*.wmv
*.vob
*.ts
*.m2ts
*.mts
*.divx
*.amv
*.rm
*.rmvb
*.viv
*.webm
*.mxf
*.ogx
*.ogm
*.spx
*.opus
*.amr
*.3ga
*.ape
*.mpc
*.wv
*.shn
*.dts
*.dtshd
*.ac3
*.eac3
*.thd
*.mlp
*.aax
*.mka
*.opus
*.ra
*.rm
*.rv
*.smk
*.swf
*.vox
*.w64
*.wavpack
*.wv
*.xa
*.xwma
*.yuv
*.y4m
*.3d
*.3fr
*.3g2
*.3gp
*.3pr
*.4db
*.4xd
*.8bi
*.8bs
*.8li
*.8xi
*.a00
*.a01
*.a02
*.a03
*.a04
*.a05
*.a06
*.a07
*.a08
*.a09
*.a10
*.a11
*.a12
*.a13
*.a14
*.a15
*.a16
*.a17
*.a18
*.a19
*.a20
*.a21
*.a22
*.a23
*.a24
*.a25
*.a26
*.a27
*.a28
*.a29
*.a30
*.a31
*.a32
*.a33
*.a34
*.a35
*.a36
*.a37
*.a38
*.a39
*.a40
*.a41
*.a42
*.a43
*.a44
*.a45
*.a46
*.a47
*.a48
*.a49
*.a50
*.a51
*.a52
*.a53
*.a54
*.a55
*.a56
*.a57
*.a58
*.a59
*.a60
*.a61
*.a62
*.a63
*.a64
*.a65
*.a66
*.a67
*.a68
*.a69
*.a70
*.a71
*.a72
*.a73
*.a74
*.a75
*.a76
*.a77
*.a78
*.a79
*.a80
*.a81
*.a82
*.a83
*.a84
*.a85
*.a86
*.a87
*.a88
*.a89
*.a90
*.a91
*.a92
*.a93
*.a94
*.a95
*.a96
*.a97
*.a98
*.a99
*.aa
*.aa3
*.aac
*.aax
*.abm
*.ac3
*.acd
*.acd-zip
*.acm
*.act
*.adg
*.adp
*.ads
*.adt
*.adts
*.adv
*.afc
*.agm
*.ahx
*.aif
*.aifc
*.aiff
*.ais
*.akp
*.alc
*.als
*.amf
*.amr
*.ams
*.amxd
*.amz
*.aob
*.ape
*.apf
*.apl
*.aria
*.ariax
*.asd
*.asf
*.asx
*.at3
*.au
*.aud
*.aup
*.avr
*.awb
*.axm
*.band
*.bap
*.bdd
*.bidule
*.bun
*.bwf
*.bwg
*.bww
*.caf
*.cda
*.cdda
*.cdr
*.cel
*.cgrp
*.ckb
*.cmf
*.cop
*.cpr
*.cpt
*.csh
*.cts
*.cwb
*.cwp
*.d00
*.d01
*.d02
*.dbs
*.dcm
*.dct
*.ddt
*.dewf
*.df2
*.dfc
*.dig
*.djr
*.dls
*.dm
*.dmc
*.dmf
*.dmsa
*.dmse
*.dra
*.drg
*.ds
*.ds2
*.dsf
*.dsm
*.dsp
*.dss
*.dtm
*.dts
*.dtshd
*.dvf
*.dwd
*.ear
*.efa
*.efk
*.efq
*.efs
*.efv
*.emd
*.emp
*.emx
*.esps
*.f2r
*.f32
*.f3r
*.f4a
*.f64
*.far
*.fda
*.fdp
*.fev
*.flac
*.flp
*.frg
*.fsb
*.fsm
*.ftm
*.ftmx
*.fzf
*.fzv
*.g721
*.g723
*.g726
*.gbproj
*.gbs
*.gig
*.gio
*.gm
*.gp5
*.gpk
*.groove
*.gsm
*.gym
*.h0
*.h5b
*.h5e
*.h5s
*.hbs
*.hdp
*.hma
*.hsb
*.ics
*.iff
*.igp
*.imf
*.imp
*.ins
*.isma
*.it
*.iti
*.its
*.jam
*.jo
*.k25
*.k26
*.kar
*.kfn
*.koz
*.kpl
*.krz
*.ksf
*.kt2
*.kt3
*.ktp
*.l
*.la
*.lso
*.lvp
*.lwv
*.m1a
*.m3u
*.m3u8
*.m4a
*.m4b
*.m4p
*.m4r
*.ma1
*.ma2
*.ma3
*.ma4
*.ma5
*.ma6
*.ma7
*.ma8
*.ma9
*.maa
*.mbr
*.mdc
*.mdl
*.med
*.mgv
*.mid
*.midi
*.minipsf
*.mka
*.mlp
*.mmf
*.mmm
*.mmp
*.mmpz
*.mo3
*.mod
*.mp+
*.mp1
*.mp2
*.mp3
*.mpa
*.mpc
*.mpdp
*.mpga
*.mpp
*.mpu
*.mscz
*.msv
*.mt2
*.mt9
*.mte
*.mtf
*.mtm
*.mts
*.mus
*.mux
*.mux
*.mwa
*.mx5
*.mx5template
*.myr
*.nbs
*.ncw
*.nki
*.nra
*.nrt
*.nsa
*.nsf
*.nst
*.ntn
*.nwc
*.obw
*.odm
*.ofa
*.off
*.oga
*.ogg
*.okt
*.oma
*.omf
*.omg
*.omx
*.opus
*.orc
*.ots
*.ove
*.ovw
*.pac
*.paf
*.pandora
*.pat
*.pbf
*.pca
*.pcd
*.pcg
*.pcm
*.pd
*.peak
*.pek
*.pgd
*.pho
*.phy
*.pk
*.pkf
*.pls
*.pmc
*.pms
*.ppc
*.ppcx
*.prg
*.prg
*.psf
*.psf1
*.psf2
*.psm
*.ptf
*.ptm
*.pts
*.pvc
*.q1
*.q2
*.r1
*.ra
*.ram
*.raw
*.rax
*.rbs
*.rcy
*.rfl
*.rgp
*.rip
*.rmf
*.rmi
*.rmj
*.rmm
*.rmx
*.rng
*.rns
*.rol
*.rsn
*.rso
*.rti
*.rts
*.rvx
*.rx2
*.s3i
*.s3m
*.s3z
*.saf
*.sam
*.sap
*.sbi
*.sbk
*.sc2
*.scs
*.sd
*.sd2
*.sdat
*.sds
*.sdt
*.sdx
*.seg
*.seq
*.ses
*.sesx
*.sf2
*.sfap0
*.sfk
*.sfl
*.sgb
*.sgd
*.sgl
*.shn
*.sib
*.sid
*.smf
*.smp
*.snd
*.sng
*.sou
*.spc
*.spp
*.sprg
*.spx
*.sseq
*.ssnd
*.stap
*.stf
*.stm
*.stx
*.sty
*.svd
*.svx
*.sw
*.swa
*.sxt
*.syh
*.syw
*.syx
*.tak
*.tank
*.tfmx
*.tg
*.thx
*.tm2
*.tm8
*.tmc
*.toc
*.track
*.tsf
*.tsp
*.tta
*.tun
*.txw
*.u
*.u8
*.uax
*.ub
*.ul
*.ult
*.ulw
*.uni
*.usf
*.usflib
*.ust
*.uw
*.uwf
*.vag
*.val
*.vap
*.vc3
*.vdj
*.vgm
*.vgz
*.vip
*.vmo
*.vmf
*.voc
*.vox
*.vpl
*.vpm
*.vqf
*.vrf
*.vsq
*.vsqx
*.vtx
*.vyf
*.w01
*.w02
*.wav
*.wave
*.wax
*.wem
*.wfb
*.wfd
*.wfp
*.wma
*.wow
*.wpk
*.wpp
*.wproj
*.wrk
*.wus
*.wut
*.wv
*.wvc
*.wve
*.wwu
*.xa
*.xfs
*.xi
*.xm
*.xmf
*.xmi
*.xmz
*.xp
*.xpf
*.xrns
*.xsb
*.xsp
*.xspf
*.xt
*.xwb
*.ym
*.yookoo
*.zab
*.zpa
*.zpl
*.zvd
*.zvr